{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--Main Content Start-->
<div class="main-content">
  <!--Welcome Section-->
  <section class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="welcome-box">
          <div class="col-lg-6">
            <div class="welcome-text">
              <div class="sectio-title-2"> <strong>Bienvenue dans votre site de reservation en ligne</strong>
              <h1 class="text-success">Bit</span><span class="text-info">Masters</h1>
              </div>
              <p>BitMasters intègre le système Amadeus pour accéder à l'inventaire des vols, des hôtels, des voitures,des transferts et des croisières via les services Web fournis par Amadeus.</p>
              <p>Ce systeme est realise avec le framework Django, bootstrap</p>
              <strong class="signature">Salimata Yaya Ba</strong>
              <h6 class="designation">Mot de l'administrateur</h6>
            </div>
          </div>
          <div class="col-lg-6">
                  <img src="{% static 'amadeuspro/images/back2.png' %}" alt="" style="max-width: 660px; max-height: 600px;" class="shadow-black"> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="home-features">
    <div class="container">
      <div class="row">
        <div class="section-title-3"> 
            <strong>Voir Nos Offres <i class="fa fa-home"></i> </strong>
          </div>
        <div class="col-md-6 offre1 shadow-black">
          <p>Des Hotels de luxe</p>
          <br><br><br><br><br><br><br><br><br>
          <div>
            <button class="btn btn-primary pull-right">Decouvrir nos offres</button>
          </div>
          <br><br><br>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-5 offre2 shadow-black">
          <p>Des voitures de qualite a votre service</p>
          <br><br><br><br><br><br><br><br><br>
          <div>
            <button class="btn btn-primary pull-right">Decouvrir nos offres</button>
          </div>
          <br><br><br>
        </div>
      </div>
      
    </div>
  </section>

<br><br><br><br><br>
    <section class="home-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3"> 
            <strong>Services de Voyages <i class="fa fa-plane"></i> </strong>
            <h2>Destinations prisees</h2>
          </div>
          <h5 class="text-success pull-right">Voir Plus ></h5>
        </div>

         <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-green" src="{% static 'amadeuspro/images/roma.jpg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Rome</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-green" src="{% static 'amadeuspro/images/paris.jpg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Paris</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-green" src="{% static 'amadeuspro/images/barcelona_2.jpg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Barcelone</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-green" src="{% static 'amadeuspro/images/dakar.jpg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Dakar</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        
      </div>
      
    </div>
  </section>
  <!--Welcome Section End-->


  <br><br><br><br>

  <section class="home-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3"> 
            <strong>Nos Hotels <i class="fa fa-hotel"></i> </strong>
            <h2>Des Hotels de luxe</h2>
          </div>
          <h5 class="text-success pull-right">Voir Plus ></h5>
        </div>

         <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-gold" src="{% static 'amadeuspro/images/photo.jpeg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Range</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-gold" src="{% static 'amadeuspro/images/back2.png' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Range</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-gold" src="{% static 'amadeuspro/images/leonardo.jpg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Range</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-gold" src="{% static 'amadeuspro/images/photo.jpeg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Range</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        
      </div>
      
    </div>
  </section>
  <!--Welcome Section End-->


    <section class="home-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3"> 
            <strong>Services auto <i class="fa fa-bus"></i></strong>
            <h2>Des voitures adaptes a vos besoins</h2>
          </div>
          </div>
          <h5 class="text-success pull-right">Voir Plus ></h5>
        </div>

         <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-red" src="{% static 'amadeuspro/images/carlove.png' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Range</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-red" src="{% static 'amadeuspro/images/bus.jpg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Range</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-red" src="{% static 'amadeuspro/images/benz.jpg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Range</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <img class="imgWindow img-responsive shadow-red" src="{% static 'amadeuspro/images/limou.jpg' %}" alt="" >
          <div class="ser-content">
                    <center><h3><a href="#">Range</a></h3></center>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt</p>
          </div>
        </div>
        
      </div>
      
    </div>
  </section>
  <!--Welcome Section End-->



  

  <!--A propos de Nous-->
  <section class="mailservices">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3 white"> <strong class="text-pink">Ajouter votre mail pour profitez des offres a temps</strong></div>
        </div>
        <div class="col-md-3"></div>
         <div class="col-md-5">
              <input type="text" name="mail" class="form-control">
          </div>
          <div class="col-md-4">
            <button class="btn btn-danger">Ajouter votre mail <i class="fa fa-envelope"></i> </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Fin a propos-->

  <section class="home-services">
    
  </section>

</div>
<!--Main Content End-->
{% endblock maincontent %}