{% load static %}
<footer class="footer colorTransparent">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="widget"> <h4 class="text-success">Bit</span><span class="text-info">Masters</h4>
            <p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor  </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h3>Nos Services</h3>
            <ul>
              <li><a href="{% url 'choixvol' %}"><i class="fa fa-arrow-right"></i>Vols</a></li>
              <li><a href="#"><i class="fa fa-arrow-right"></i>Locations auto</a></li>
              <li><a href="#"><i class="fa fa-arrow-right"></i>Hotels</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h3>Contacter Nous</h3>
            <address>
              <ul>
                <li> <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span> <span
                    class="add-text"><strong>Adresse : </strong> Orange digital center</span> </li>
                <li> <span class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i></span> <span
                    class="add-text"><strong>Nous appeler:</strong> +770000000</span> </li>
                <li> <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span> <span
                    class="add-text"><strong>Pour toutes reclamations:</strong> dioufm65@yahoo.com</span> </li>
                <li> <span class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span> <span
                    class="add-text"><strong>Nous sommes ouvert du:</strong> Lun-Sam: 9:00h-19:00h</span> </li>
              </ul>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-cr">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span class="text-success">Bit</span><span class="text-info">Masters</span>  © {% now 'Y' %}, All Rights Reserved, Design & Developed By Bit Masters/ODC
        </div>
        <div class="col-md-6">
          <div class="footer-social"> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i
                class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-google-plus"
                aria-hidden="true"></i></a> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a
              href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>